@charset 'utf-8';
/* デフォルトcss解除 */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol{
  list-style: none;
}

a{
  color: inherit;
  text-decoration: none;
}

/* 共通スタイル設定 */

body{
  font-family: sans-serif;
  font-size: 16px;
  color: #000;
  line-height: 1;
  background-color: #fff;
}

img{
  max-width: 100%;
}
/* header */
.header-inner{
  max-width: 1200px;
  height: 110px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo{
  display: block;
  width: 170px;
}

.toggle-menu-button{
  display: none;
}

.site-menu ul {
  display: flex;
}

.site-menu ul li a{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.site-menu ul li + li {
  margin-left: 20px;
}

/* main */
main .title{
  height: 310px;
  background-image: url(../images/concept/bg-main.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: 1px 1px 10px #4b2c14;
}

main .title h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: bold;
}

main .title p{
  font-size: 14px;
  margin-top: 15px;
}

main h2{
  font-size: 22px;
  font-weight: bold;
  line-height: 1.5;
}

main h2::after{
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: #000;
  margin-top: 20px;
}
/* footer */
.footer {
  color: #fff;
  background-color: #24211b;
  padding: 30px 0 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo{
  display: block;
  width: 235px;
  margin-top: 90px;
}

.footer-tel{
  font-size: 26px;
  font-weight: bold;
  margin-top: 28px;
}

.footer-time{
  font-size: 13px;
  margin-top: 16px;
}

.copyright{
  font-size: 14px;
  font-weight: bold;
  margin-top: 90px;
}

/* SP対応 */
@media (max-width: 800px) {
  .site-menu ul {
    flex-direction: column;
    text-align: center;
  }

  .site-menu ul li + li {
    margin: 20px 0 0 0;
  }

  .header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    width: 100%;
    height: 50px;
    z-index: 10;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  }

  .header-inner{
    padding: 0 20px;
    height: 100%;
    position: relative;
  }

  .header-logo{
    width: 100px;
  }

  .header-site-menu{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    color: #fff;
    background-color: #736E62;
    padding-top: 30px;
    padding-bottom: 50px;
    display: none;
  }

  .header-site-menu.is-show{
    display: block;
  }

  .toggle-menu-button{
    display: block;
    width: 44px;
    height: 34px;
    background-image: url(../images/common/icon-menu.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;
  }
  /* main */
  .main{
    padding-top: 50px;
  }

  /* footer */
  .footer-logo{
    margin-top: 60px;
  }
  .footer-tel{
    font-size: 20px;
  }
  .copyright{
    margin-top: 50px;
  }
}